<div class="container" style="margin-top:5%;">
    <div class="row">
        <div class="col-md-3">
<app-side-menu></app-side-menu>
        </div>
        <div class="col-md-9">
        <h2>Dashboard</h2>
        </div>
    </div>

</div>

