<!-- <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a href="#" class="navbar-brand">
        <img src="images/logo.svg" height="28" alt="CoolBrand">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="#" class="nav-item nav-link active">Home</a>
            <a href="#" class="nav-item nav-link">Profile</a>
            <a href="#" class="nav-item nav-link">Messages</a>
            <a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a>
        </div>
        <div class="navbar-nav ml-auto">
            <a href="#" class="nav-item nav-link">Login</a>
        </div>
    </div>
</nav> -->

<div class="fixed-top">
    <nav class="navbar navbar-dark bg-dark mb-5">
      <a style="margin-left: 4%;" class="navbar-brand" href="/"><img src="assets/content/images/Jr.png"
          class="logo-size" /><span style="margin-left: 1%;font-size: 16px">Just Refer
        </span></a>
      <div class="navbar-expand ml-auto navbar-nav">
        <div class="navbar-nav">
          <a class="nav-item nav-link2" target="_blank">
           syam <span><i class="fa fa-user-o"></i></span>
          </a>
        </div>
      </div>
    </nav>
</div>